@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #121212;
        --fg: #2a2a2a;
        --text: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: #f5f5f5;
        --fg: #d4d4d4;
        --text: black;
    }
}

:root {
    --lightblue: #38bdf8;
    --lightgreen: #34d399;
    --lightred: #f87171;
    --yellow: #facc15;
}

[data-theme="light"] {
    --bg: #f5f5f5;
    --fg: #d4d4d4;
    --text: black;
}

[data-theme="dark"] {
    --bg: #121212;
    --fg: #2a2a2a;
    --text: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

html {
    font-size: 62.5%;
}

html:not(.no-transition) {
    --theme-transition: color 0.2s ease-in-out 0s, background-color 0.2s ease-in-out 0s;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-size: 1.6rem;
    transition: var(--theme-transition);
}
